//margin bottom small
.mb-sm {
  margin-bottom: 2rem;
}

//margin bottom medium
.mb-md {
  margin-bottom: 3rem;
}

//margin bottom large
.mb-lg {
  margin-bottom: 4rem;
}

//margin bottom xl
.mb-xl {
  margin-bottom: 8rem;
}
